In [21]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

data= pd.read_csv("waterQuality1.csv")
data

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,0.05,7.78,0.00,1.95,0.040,0.10,0.03,0.03,1.37,0.00,...,0.197,14.29,1.00,0.005,3.57,2.13,0.09,0.06,0.03,1
7995,0.05,24.22,0.02,0.59,0.010,0.45,0.02,0.02,1.48,0.00,...,0.031,10.27,1.00,0.001,1.48,1.11,0.09,0.10,0.08,1
7996,0.09,6.85,0.00,0.61,0.030,0.05,0.05,0.02,0.91,0.00,...,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1
7997,0.01,10,0.01,2.00,0.000,2.00,0.00,0.09,0.00,0.00,...,0.000,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,1
7998,0.04,6.85,0.01,0.70,0.030,0.05,0.01,0.03,1.00,0.00,...,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7999 non-null   float64
 1   ammonia      7999 non-null   object
 2   arsenic      7999 non-null   float64
 3   barium       7999 non-null   float64
 4   cadmium      7999 non-null   float64
 5   chloramine   7999 non-null   float64
 6   chromium     7999 non-null   float64
 7   copper       7999 non-null   float64
 8   flouride     7999 non-null   float64
 9   bacteria     7999 non-null   float64
 10  viruses      7999 non-null   float64
 11  lead         7999 non-null   float64
 12  nitrates     7999 non-null   float64
 13  nitrites     7999 non-null   float64
 14  mercury      7999 non-null   float64
 15  perchlorate  7999 non-null   float64
 16  radium       7999 non-null   float64
 17  selenium     7999 non-null   float64
 18  silver       7999 non-null   float64
 19  uranium      7999 non-null   float64
 20  is_safe      7999 non-null   object
dtypes: float64(19), object(2)
memory usage: 1.3+ MB

In [23]:
cols = ['ammonia','selenium']
dataEdit = data.drop(cols, axis=1)
dataEdit

,aluminium,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,viruses,lead,nitrates,nitrites,mercury,perchlorate,radium,silver,uranium,is_safe
0,1.65,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,0.000,0.054,16.08,1.13,0.007,37.75,6.78,0.34,0.02,1
1,2.32,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,0.650,0.100,2.01,1.93,0.003,32.26,3.21,0.27,0.05,1
2,1.01,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,0.003,0.078,14.16,1.11,0.006,50.28,7.07,0.44,0.01,0
3,1.36,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,0.710,0.016,1.41,1.29,0.004,9.12,1.72,0.45,0.05,1
4,0.92,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,0.001,0.117,6.74,1.11,0.003,16.90,2.41,0.06,0.02,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,0.05,0.00,1.95,0.040,0.10,0.03,0.03,1.37,0.00,0.000,0.197,14.29,1.00,0.005,3.57,2.13,0.06,0.03,1
7995,0.05,0.02,0.59,0.010,0.45,0.02,0.02,1.48,0.00,0.000,0.031,10.27,1.00,0.001,1.48,1.11,0.10,0.08,1
7996,0.09,0.00,0.61,0.030,0.05,0.05,0.02,0.91,0.00,0.000,0.182,15.92,1.00,0.000,1.35,4.84,0.04,0.05,1
7997,0.01,0.01,2.00,0.000,2.00,0.00,0.09,0.00,0.00,0.000,0.000,0.00,0.00,0.000,0.00,0.00,0.00,0.00,1
7998,0.04,0.01,0.70,0.030,0.05,0.01,0.03,1.00,0.00,0.000,0.182,15.92,1.00,0.000,1.35,4.84,0.04,0.05,1

In [24]:
dataEdit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7999 non-null   float64
 1   arsenic      7999 non-null   float64
 2   barium       7999 non-null   float64
 3   cadmium      7999 non-null   float64
 4   chloramine   7999 non-null   float64
 5   chromium     7999 non-null   float64
 6   copper       7999 non-null   float64
 7   flouride     7999 non-null   float64
 8   bacteria     7999 non-null   float64
 9   viruses      7999 non-null   float64
 10  lead         7999 non-null   float64
 11  nitrates     7999 non-null   float64
 12  nitrites     7999 non-null   float64
 13  mercury      7999 non-null   float64
 14  perchlorate  7999 non-null   float64
 15  radium       7999 non-null   float64
 16  silver       7999 non-null   float64
 17  uranium      7999 non-null   float64
 18  is_safe      7999 non-null   object
dtypes: float64(18), object(1)
memory usage: 1.2+ MB

In [25]:
dataEdit = dataEdit[~dataEdit.applymap(lambda x: x == '#NUM!').any(axis=1)]

# Reset the index to ensure it's continuous
dataEdit.reset_index(drop=True, inplace=True)

In [26]:
dataEdit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7996 entries, 0 to 7995
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7996 non-null   float64
 1   arsenic      7996 non-null   float64
 2   barium       7996 non-null   float64
 3   cadmium      7996 non-null   float64
 4   chloramine   7996 non-null   float64
 5   chromium     7996 non-null   float64
 6   copper       7996 non-null   float64
 7   flouride     7996 non-null   float64
 8   bacteria     7996 non-null   float64
 9   viruses      7996 non-null   float64
 10  lead         7996 non-null   float64
 11  nitrates     7996 non-null   float64
 12  nitrites     7996 non-null   float64
 13  mercury      7996 non-null   float64
 14  perchlorate  7996 non-null   float64
 15  radium       7996 non-null   float64
 16  silver       7996 non-null   float64
 17  uranium      7996 non-null   float64
 18  is_safe      7996 non-null   object
dtypes: float64(18), object(1)
memory usage: 1.2+ MB

In [27]:
dataset1 = dataEdit.astype(float)
dataset1

,aluminium,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,viruses,lead,nitrates,nitrites,mercury,perchlorate,radium,silver,uranium,is_safe
0,1.65,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,0.000,0.054,16.08,1.13,0.007,37.75,6.78,0.34,0.02,1.0
1,2.32,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,0.650,0.100,2.01,1.93,0.003,32.26,3.21,0.27,0.05,1.0
2,1.01,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,0.003,0.078,14.16,1.11,0.006,50.28,7.07,0.44,0.01,0.0
3,1.36,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,0.710,0.016,1.41,1.29,0.004,9.12,1.72,0.45,0.05,1.0
4,0.92,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,0.001,0.117,6.74,1.11,0.003,16.90,2.41,0.06,0.02,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7991,0.05,0.00,1.95,0.040,0.10,0.03,0.03,1.37,0.00,0.000,0.197,14.29,1.00,0.005,3.57,2.13,0.06,0.03,1.0
7992,0.05,0.02,0.59,0.010,0.45,0.02,0.02,1.48,0.00,0.000,0.031,10.27,1.00,0.001,1.48,1.11,0.10,0.08,1.0
7993,0.09,0.00,0.61,0.030,0.05,0.05,0.02,0.91,0.00,0.000,0.182,15.92,1.00,0.000,1.35,4.84,0.04,0.05,1.0
7994,0.01,0.01,2.00,0.000,2.00,0.00,0.09,0.00,0.00,0.000,0.000,0.00,0.00,0.000,0.00,0.00,0.00,0.00,1.0
7995,0.04,0.01,0.70,0.030,0.05,0.01,0.03,1.00,0.00,0.000,0.182,15.92,1.00,0.000,1.35,4.84,0.04,0.05,1.0

In [28]:
X = dataEdit.drop(['is_safe'],axis=1)
y = dataEdit['is_safe']

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, stratify=y, random_state=0)

In [30]:
from sklearn.preprocessing import MinMaxScaler
scl = MinMaxScaler().fit(X_train)
X_train_norm = scl.transform(X_train)
X_test_norm = scl.transform(X_test)